/* .attribution { font-size: 11px; text-align: center; } */
/* .attribution a { color: hsl(228, 45%, 44%); } */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg: hsl(225, 100%, 94%);
    --text-color: hsl(224, 23%, 55%);
    --semi-blue: hsl(245, 75%, 52%);
    --hover: rgb(159, 124, 255);
    --h-color: hsl(223, 47%, 23%);
    --plan-container-bg: hsl(225, 100%, 98%);
    --white: #ffffff;
}
body {
    background-image: url(pattern-background-desktop.svg); 
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'RedHatDisplay', sans-serif;
}
main {
    height: 700px;
    width: 450px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.image-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px;
}
h1 {
    margin: 53px auto 32px auto;
    text-align: center;
    color: var(--h-color);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.content span {
    color: var(--text-color);
}
.plan {
    width: 354px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--plan-container-bg);
    border-radius: 15px;
    margin-bottom: 24px;
}
.plan img {
    margin: 25px 20px 25px 24px;
}
.plan .change {
    margin-right: 15px;
    color: var(--semi-blue);
    text-decoration: underline;
    font-size: 16px;
}
.plan .change:hover {
	crusor: pointer;
	color: var(--hover);
	text-decoration: none;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
}
.accept {
    width: 100%;
    border: 0;
    background-color: var(--semi-blue);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 17px;
}
.accept:hover {
    cursor: pointer;
    background-color: var(--hover);
}
.cancel {
    height: 50%;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
    color: var(--h-color);
    font-weight: 900;
}
@media screen {
    main{
        margin: auto;
        padding: auto;
    }
}